*
{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html,
body {
  background: linear-gradient(90deg, #69b7eb, #7fa8a0, #abf1e8);
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  height:100%
}
ul
{
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
